.mobileControls {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  gap: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.left {
  background: transparent;
  border: 1px solid white;
  grid-column: 1/2;
  grid-row: 1/4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.up {
  background: transparent;
  border: 1px solid white;
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.down {
  background: transparent;
  border: 1px solid white;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  background: transparent;
  border: 1px solid white;
  grid-column: 4/5;
  grid-row: 1/4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  background: transparent;
  border: 1px solid white;
  grid-column: 2/4;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (pointer: coarse) {
  .mobileControls {
    display: grid;
  }
}
