body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;

  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;

  /* color text */
  color: #ffffff;
}

.onTop {
  /* position the heading */
  position: absolute;
  width: 100%;
  height: 100%;
  /* make sure that the heading is drawn on top */
  z-index: 1;
}

#scene-container {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 100%;
  height: 100%;

  /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
  background-color: teal;
}

/* controls */
.controlGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: min-content;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.control {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline {
  display: inline;
  margin: 10px 5px 10px 5px;
}

.control.inline {
  display: inline-flex;
}

.W {
  grid-row: 1;
  grid-column: 2;
}

.A {
  grid-row: 2;
  grid-column: 1;
}

.S {
  grid-row: 2;

  grid-column: 2;
}

.D {
  grid-row: 2;

  grid-column: 3;
}

.space {
  display: inline-flex;
  border: 1px solid white;
  padding: 5px 20px 5px 20px;
  margin: 10px 5px 10px 5px;
}
